body {
    margin:0
}

header {
    background: #03f9f4;
    text-align: center
}

.logo {
    color: #fff;
    font-size: 40px;
    font-family: 'Average' 
}

header input {
    font-size: 20px;
    margin: 20px 0;
}

.news_item {
    background: 'red';
}